{% extends "Sam/base.html" %}

{% block main %}
<div class="page-title page-title-default title-size-small title-design-centered color-scheme-light">
    <div class="container">
        <header class="entry-header">
            <h2 class="entry-title">Arkliai</h2>													
        </header><!-- .entry-header -->
    </div>
</div>


<div class="cont">
    <img class="rounded mx-auto d-block paw" src="/static/Sam/download.png">
    <hr> 
    <h2> Šiuo metu globojamų arklių nėra... :(</h2>
</div>

{% endblock %}