{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kur Samanos</title>



    

    <!-- Bootstrap core CSS -->
    
    <!-- Custom styles for this template -->
    <link href="{% static 'Sam/starter-template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'Sam/styles.css' %}">
    
  </head>

  <body>
    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'sam-home' %}">Kur Samanos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">       
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Mūsų Globotiniai</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="{% url 'sam-sunys' %}">Šunys</a></li>
                      <li><a class="dropdown-item" href="{% url 'sam-kates' %}">Katės</a></li>
                      <li><a class="dropdown-item" href="{% url 'sam-arkliai' %}">Arkliai</a></li>
                  </ul>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="{% url 'sam-parama' %}">Parama</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="{% url 'sam-about' %}">Apie mus</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="{% url 'sam-kontaktai' %}">Kontaktai</a>
                </li>
                
            </ul>

            </div>
        </div>
        </nav>
            <main>
                {% block main %}


                {% endblock %}
            </main>
            


        <footer class="footer py-3 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">&copy; Kur Samanos 2021</p>
            </div>
            <!-- /.container -->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>