{% extends "Sam/base.html" %}

{% block main %}
<div class="page-title page-title-default title-size-small title-design-centered color-scheme-light">
    <div class="container">
        <header class="entry-header">
            <h2 class="entry-title">Globotiniai</h2>													
        </header><!-- .entry-header -->
    </div>
</div>

<div class="container" >
    <img class="rounded mx-auto d-block paw" src="/static/Sam/download.png">
    <hr> 
    <div class="container" >
      <div class="row mb-2">      
        {% for animal in animals %}
          <div class="card mb-3" style="max-width: 25rem;">
            <img class="card-img-top" src="{{ animal.image.url }}" alt="Card image cap">
            <div class="card-body d-flex flex-column text-dark">
              <h5 class="card-title">{{ animal.title }}</h5>
              <div class="mb-1 text-muted">{{ animal.animal_type }}</div>
              <p class="card-text line-clamp">{{ animal.content }}</p>
              <a href="{%url 'animal-detail' animal.id%}" class="btn btn-outline-success" style="margin-top:auto">Plačiau</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
     
</div>



{% endblock %}