{% extends "Sam/base.html" %}

{% block main %}
<div class="page-title page-title-default title-size-small title-design-centered color-scheme-light">
    <div class="container">
        <header class="entry-header">
            <h2 class="entry-title">Kontaktai</h2>													
        </header><!-- .entry-header -->
    </div>
</div>

<img class="rounded mx-auto d-block paw" src="/static/Sam/download.png" style="padding-bottom: 20px;">
<hr> 
<div class="wpb_wrapper">
    <p style="text-align: center;"><strong>Beglobių gyvūnų labdaros ir paramos fondas</strong></p>
    <p style="text-align: center;"><strong><a href="tel:8686868866">Tel: 8686868866</a></strong><br>
    <p style="text-align: center;"><strong><a href="https://www.google.com/maps/place/Au%C5%A1ros+%C5%BDirgynas/@54.6719953,23.8707744,1296m/data=!3m1!1e3!4m8!1m2!2m1!1skur+samanos!3m4!1s0x46e731b279c7cd71:0x1ba6226472c47805!8m2!3d54.6733703!4d23.8735646" target="_blank" rel="noopener noreferrer">Prienų rajonas</a></strong><br>
    <strong>Įmonės kodas: 123456789 </strong></p>
    <p style="text-align: center;"><strong>Norint priglausti gyvūną iš mūsų</strong><br>
    <strong>prieglaudos kreiptis <a href="tel:868686868666">Tel: 8686868866 </a></strong></p>
    <p>&nbsp;</p>
</div>

<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=850&amp;height=400&amp;hl=en&amp;q=ausros zirgynas&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.embedmymap.com/">Embed My Map</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:600px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:600px;}.gmap_iframe {height:600px!important;}</style></div>


{% endblock %}