{% extends "Sam/base.html" %}

{% block main %}
<div class="page-title page-title-default title-size-small title-design-centered color-scheme-light">
    <div class="container">
        <header class="entry-header">
            <h2 class="entry-title">Parama</h2>													
        </header><!-- .entry-header -->
    </div>
</div>

<img class="rounded mx-auto d-block paw" src="/static/Sam/download.png" style="padding-bottom: 20px;">
<hr> 
<div class="container">
    <div class="box-content">
        <h3>Parama banko pavedimu</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <hr>
        <p>Pinigus į VŠĮ <strong>„Kur samanos“</strong>&nbsp;sąskaitą&nbsp;galite&nbsp;pervesti bankiniu pavedimu.</p>
            <table class="table" width="200">
                <tbody>
                    <tr>
                    <td colspan="2"><strong>Rekvizitai pavedimui</strong></td>
                    </tr>
                        <tr>
                            <td>Gavėjas:</td>
                            <td>VŠĮ Kur Samanos</td>
                        </tr>
                    <tr>
                        <td>Įmonės kodas:</td>
                        <td>304825608</td>
                    </tr>
                    <tr>
                        <td>A/S Nr.:</td>
                        <td>LT624010051004237307</td>
                    </tr>
                    <tr>
                        <td>Bankas:</td>
                        <td>Luminor DNB bankas</td>
                    </tr>
                    <tr>
                        <td>Paskirtis:</td>
                        <td>Parama</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}